<div class="login-body">
    <div class="login-wrapper">
       <div class="login-panel">
          <a class="logo" href="#/"><img src="assets/layout/images/logo.png" alt="freya-layout"></a><input pinputtext="" id="email" placeholder="Email" class="p-inputtext p-component p-element"><input ppassword="" id="password" placeholder="Password" class="p-inputtext p-component p-element"><button pbutton="" pripple="" label="LOGIN" type="button" class="p-element p-ripple p-button p-component"><span class="p-button-label">LOGIN</span><span class="p-ink"></span></button><a href="#">forget password?</a>
          <p>Don’t you have an account, <a href="#">sign up</a></p>
       </div>
       <div class="login-footer">
          <h4>freya</h4>
          <h6>Copyright Ⓒ HCS</h6>
       </div>
    </div>
 </div>