<div class="login-body">
   <form [formGroup]="mainForm" (ngSubmit)="login(mainForm.value);" novalidate>
    <div class="login-wrapper">
      <div class="login-panel">
         <a class="logo" href="#/">
            <img src="assets/layout/images/logo.png" alt="freya-layout"></a>
            <input pinputtext id="email" placeholder="Username" formControlName="Username" class="p-inputtext p-component p-element ng-invalid ng-dirty"  [ngClass]="{'ng-invalid ng-dirty' : mainForm.get('Username').touched==true && mainForm.get('Username').hasError('required')==true}" >
            
            <input type="password" id="password" placeholder="Password" formControlName="Password" class="p-inputtext p-component p-element" [ngClass]="{'ng-invalid ng-dirty' : mainForm.get('Password').touched && mainForm.get('Password').hasError('required')}">
           
            <div class="col-12 md:col-6">
            
               <button pButton pRipple type="submit" label="Submit" class="mr-3 mb-3"></button>
                      </div>
            <a href="#">forget password?</a>
      </div>
      
       <div class="login-footer">
      
          <h6>Copyright Ⓒ HCS</h6>
       </div>
    </div>
   </form>
 </div>