<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo.png" alt="logo">
       
    </a>
    <p-menubar [model]="model" class="top-menu">
   
    </p-menubar> 

    
    <a class="p-link layout-menu-button layout-topbar-button side-menu" href="#" (click)="appMain.toggleMenu($event)"  >
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a> 

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <select class="form-control language-dropdown" #langSelect (change)="switchLang(langSelect.value)">
            <option *ngFor="let language of translate.getLangs()" 
              [value]="language"
              [selected]="language === translate.currentLang">
              {{ language == 'en' ? 'English' : 'عربي' }}
            </option>
          </select> 
        <a href="javascript:void(0);" (click)="signOut()" class="p-link layout-topbar-button">
            <i class="pi pi-power-off"></i>
            <span>SignOut</span>
        </a>
        <a href="javascript:void(0);" class="p-link layout-topbar-button">
            <img src="assets/layout/images/mic.png" style="width:1.7rem;" alt="mic">
        </a>
        <a href="javascript:void(0);" (click)="changeMic()" class="p-link layout-topbar-button">
            <img _ngcontent-lia-c167="" style="vertical-align: middle;" src="assets/demo/images/avatar/ionibowcher.png" alt="Ioni Bowcher" width="70%">
        </a>
    </div>
</div>