.avatar {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.avatar-model {
    vertical-align: middle;
    width: 70px;
    height: 43px;
    border-radius: 50%;
}

.image-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #8080808c;
    /* display: block;
    background: #E6E7ED;
    background-image: url(../../../../../assets/img/avtar2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}

.image-circle-model {
    width: 70px;
    height: 43px;
    border-radius: 50%;
    background-color: #8080808c;
    /* display: block;
    background: #E6E7ED;
    background-image: url(../../../../../assets/img/avtar2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}